.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    object-fit: contain;
}

.hero-container>h1 {
    color: #263238;
    font-size: 48px;
}

img {
    background-image: url(../images/Investing-cuate\ 1.png);
    height: 400px;
    width: 400px;
    display: block;
    padding: 50%;
}

/* Irina */

/*Brittany*/