.login-btn,
.sign-btn {
    width: 310px;
    height: 120px;
    background-color: #FFC727;
    border: 2px solid #263238;
    font-size: 44px;
    font-weight: 400;
    color: #263238;

}


.btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    object-fit: contain;
}